<!DOCTYPE html>
<html>
<head>
    <title>Machine Learning Model Showcase</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Bank Term-deposit Prediction Model</h1>
    </header>
    <main>
        <div class="container">
            <div class="content">
                <h2>About the Model</h2>
                <p>This model is build using Decision Tree ML algorithm where it takes several 
                   inputs like Job type,Age-group,Contact duration and will predict 
                   whether that particular customer can buy the term-deposit or not.
                </p>
                <button><a href="{{ url_for('predict')}}">Learn More</a></button>
            </div>
            <div class="model-image"></div>
        </div>
    </main>
    <footer>
        <p>&copy; 2023 Vishwa - Bank Term-deposit Machine Learning Model Showcase</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>